@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Playfair+Display+SC&display=swap');
:root {
    --primaary: #F7F7F7;
    --secondary: #EEEEEE;
    --third: #393E46;
    --fourth: #929AAB;
    --head-font: 'Playfair Display SC', serif;
    --body-font: 'Chivo', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 97vh;
    background-image: url(/assets/img/background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: var(--head-font);
    font-weight: bold;
    text-shadow: 3px 4px rgba(0,0,0,0.3);

}

p {
    font-family: var(--body-font);
}

form{
    margin-bottom: 50px;
}
#searchTerm {

    border: 2px solid black;
    border-radius: 20px;
}

#searchTerm:hover, #searchTerm:focus {
    border: 1.5px solid black;
    background-color: white;
    border-radius: 20px;
}

#search {
    background-color: transparent;
    color: black;
    font-size: 30px;
}

.card {
    max-width: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card:hover {
    transform: scale(1.1);
}

.card-section h4{
    font-family: var(--head-font);
    font-size: 1em;
    font-weight: bold;
}

.card-section p {
    font-family: var(--body-font);
    font-size: 1em;
}