@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Playfair+Display+SC&display=swap');
:root {
    --primaary: #F7F7F7;
    --secondary: #EEEEEE;
    --third: #393E46;
    --fourth: #929AAB;
    --head-font: 'Playfair Display SC', serif;
    --body-font: 'Chivo', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url("./assets/img/2damoon.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #8063bb;
    color: white;
}

#header {
    height: 8vh;
}

h1 {
    font-family: var(--head-font);
    font-weight: bold;
    text-shadow: 3px 4px rgba(0,0,0,0.3);
    color: red;
}

p {
    font-family: var(--body-font);
}

#recipeBtn, #drinkBtn {
    color: red;
    font-size: 30px;
}

#recipeBtn img:hover, #drinkBtn img:hover {
    transform: scale(1.1);
}

form{
    margin-bottom: 50px;
}
#searchTerm {
    border: 2px solid black;
    border-radius: 20px;
}

#searchTerm:hover, #searchTerm:focus {
    border: 1.5px solid black;
    background-color: white;
    border-radius: 20px;
}

#search {
    background-color: transparent;
    color: black;
    font-size: 30px;
}

.card {
    max-width: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card:hover {
    transform: scale(1.1);
}

.card-section h4{
    font-family: var(--head-font);
    font-size: 1em;
    font-weight: bold;
}

.card-section p {
    font-family: var(--body-font);
    font-size: 1em;
}

#modal-recipe {
    background-color: rgba(69, 72, 127, 0.999);
    border-radius: 20px;
}

#modal-recipe h1 {
    font-size: 5vw;
    color: white;
    text-shadow: 3px 4px rgb(40, 40, 40);
}

#modal-recipe h6 {
    font-size: 2vw;
    color: white;
}

#modal-recipe h3 {
    font-size: 3vw;
    color: white;
}

#modal-recipe p {
    font-size: 2vw;
    color: white;
}

#break {
    width: 80%;
    border: 1px solid white;
}

#angel, #slim, #nate {
    width: 200px;
}
h6 {
    font-family: var(--head-font);
}

#angel:hover, #slim:hover, #nate:hover {
    transform: scale(1.1);
}

#angelModal, #slimModal, #nateModal {
    background-color:rgba(71, 71, 71, 0.882);
    color: white;
    border: none;
    border-radius: 20px;
}

#angelModal h4, #slimModal h4, #nateModal h4 {
    text-align: center;
}