body {
    background-color: #393E46; 
    color: white;
}

#food {
    font-size: 40px;
    font-family: playfair display;
    
}

#time {
    font-family: playfair display;
    font-size: 24px;  
}

#ingredients {
    font-family: bold italic;
    font-size: 18px;
}

ul {
    font-family: playfair display;
   line-height: 3.0;
}

#directions {
    font-family: bold italic;
    font-size: 18px;
}

ol {
    font-family: playfair display;
    list-style-type: upper-roman;
    list-style-position: inside;
}

#pic {
    height: 400px;
    width: 400px;
}



#break {
    
    width: 80%;
    border: 1px solid white;
}

.background-image {
    background-image: url('./');
}