@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Playfair+Display+SC&display=swap');
:root {
    --primaary: #F7F7F7;
    --secondary: #EEEEEE;
    --third: #393E46;
    --fourth: #929AAB;
    --head-font: 'Playfair Display SC', serif;
    --body-font: 'Chivo', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--third);
    color: var(--fourth);
}

#search {
    width: 400px;
}